<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <aliases>
      <add alias="ICalculator" type="R365Demo.ICalculator,R365Demo" />
      <add alias="Calculator" type="R365Demo.Calculator,R365Demo" />
    </aliases>
    <containers>
      <container>
        <register type="ICalculator" mapTo="Calculator" />
      </container>
    </containers>
  </unity>
</configuration>
